<ion-header>
  <ion-navbar transparent>
    <ion-title>
      Reading Timer
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="newBook()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines reorder="true" (ionItemReorder)="booksService.reorder($event)" >
    <ion-item-sliding *ngFor="let book of booksService.books">
      <ion-item (click)="toggleTimer(book)">
        <ion-spinner *ngIf="book.active" name="bubbles" item-left></ion-spinner>
        <h6>{{book.name}}</h6>
        <h5>{{book.author}}</h5>
        <p>{{book.totalSeconds | hoursMinutesSeconds}}</p>
        <p>{{book.pagesRead}}/{{book.pagesNumber}} pages read so far</p>
      </ion-item>
      <ion-item-options side="right">
        <button color="light" ion-button icon-only (click)="editBook(book)">
          <ion-icon name="settings"></ion-icon>
        </button>
        <button color="danger" ion-button icon-only (click)="booksService.removeBook(book)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
